    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation" >
        <div class="container col-md-8 col-md-offset-2">
            <div class="navbar-header search-bar-div">
                <a ng-click="homePage()" class="pull-left"><img src="img/logo1.PNG" id="logo"></a>
            </div>
            <div class="float-left">
                <ul id="navlist" style="list-style: none;">
                    <li><a href="#/bitmap">Random BitMap</a></li>
                    <li><a href="#/sound">Random Sound</a></li>
                </ul>
            </div>
        </div>
</nav>
